* {
    text-align: center;
border: 1px solid red;
}

#profilePic {
    width: 500px;
    height: 200px;
}
#aestheticContainer {
    display: inline-block;
    justify-content: space-around;
}
.aestheticHub {
    height: 500px;
    width: 500px;
}

.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    height: 150px;
    /* width: 450px; */
    text-align: center;
    justify-content: space-around;

  }
  .hoverImage{
    visibility: hidden;
    height: auto;
    width: auto;
    position: absolute;
    right: 1507px;
    top: 356px;

  }
.grid-item:hover .hoverImage{
visibility:visible; 
}


.hoverImage :hover {
    content:url(/212203-200.png)
}
#plus {
    height: 189px;
}