* {
    border: 1px solid red;
}
#aestheticBody {
    background: #10171e;
}

a {
    text-decoration: none;
}
#profileHeader{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.navAnchors {
    margin-top: 15px;
    margin-bottom: 15px;
}
.headerElements {
    font-size: 1em; /*switch to 2em after fixing */
    font-variant-caps: all-small-caps;
}

#leftHeaderNav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.landscapeHolder {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.portraitHolder {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.headerNav{
    margin-top: 5px;
    margin-bottom: 25px;
}

#rightHeaderNav{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

#aestheticHeading{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 33%;
    letter-spacing: 61px;
    padding: 0px 6px;
    text-shadow: 1px 1px 2px;
}
body {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
#likes {
    font-size: 2em;
    margin-left: 50%;
    margin-right: 50%;
    width: auto;
}
#like {
    width: 100%;
    display: none;
}
#likesHeader {
    text-align: center;
}

#unlike {
    display: none;
    width: 100%;
}
#uploader {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
}

h1 {
    padding: 0;
    margin: 0;

}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


#ownerOfAesthetic {
    margin: auto;
}
#pageCredits {
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#aestheticNamePassed {
    margin: auto;
}

#aestheticManagementDiv {
    border-radius: 5px;
    width: 50%;
    margin-bottom: 5%;
    margin-top: 10%;
    background: white;
    margin-left: 25%;
    margin-right: 25%;
}
#aestheticInteractionDiv {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

#uploadAndProgress {
    display: none;
}

