* {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
}
#profileHeader{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.navAnchors {
    margin-top: 15px;
    margin-bottom: 15px;
}
.headerElements {
    font-size: 1em; /*switch to 2em after fixing */
    font-variant-caps: all-small-caps;
}

#leftHeaderNav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.headerNav{
    margin-top: 5px;
    margin-bottom: 25px;
}

#rightHeaderNav{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

#aestheticHeading{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 33%;
    letter-spacing: 61px;
    padding: 0px 6px;
    text-shadow: 1px 1px 2px;
}
  .exploreProfilePreview {
    width: 30%;
  }
  #exploreContainer {
    display: flex;
    flex-wrap: wrap;

  }
.exploreAestheticPreviewText {
    width: 100%;
    background: white;
    text-align: center;
    font-variant-caps: all-petite-caps;
    letter-spacing: 35px;
  }

  a {
    text-decoration: none;
  }
  #exploreBody {
    background: #10171e
  }

  .exploreAestheticPreviewImg {
    margin-bottom: -4px;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  #exploreContainer {
    display: flex;
  }
  #searchBar {
    border-radius: 0px;
    border-style: none;
    margin-right: 1%;
    text-align: center;
  }

  #searchButton {
    border-radius: 10px;
    border-style: none;
  }
  #form {
    margin-right: 0%;
    margin-left: 44%;
    width: 20%;
    margin-top: 3%;
  }
  .exploreAestheticPortraitPreview {
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;
    background-color: white;
  }
  .exploreAestheticLandscapePreview {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;
    background-color: white;
  }
