* {
    font-family: Arial, Helvetica, sans-serif;
}
.socialMediaIcons{
    height: 40px;
    display: block;
}
#twitterURLInput {
    margin-top: 10%;
}
#twitterIcon {
    margin-top: 10%;
}
.settingsContainer {
    margin-top: 5%;
    margin-right: 30%;
    margin-left: 30%;
    display: flex;
}
#nsfwCheckbox {
    margin: auto;
}

#settingsForm {
    margin: 0% 30%;
    background: white;
    border-radius: 5px;
}

#settingsBody {
    background: #10171e
  }
  #uploadAndProgress {
    margin-left: 25%;
  }
  #settingsSubmit {
    margin-left: 40%;
  }
/*HEADER*/

a {
    text-decoration: none;
}
#profileHeader{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.navAnchors {
    margin-top: 15px;
    margin-bottom: 15px;
}
.headerElements {
    font-size: 1em; /*switch to 2em after fixing */
    font-variant-caps: all-small-caps;
}

#leftHeaderNav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.headerNav{
    margin-top: 5px;
    margin-bottom: 25px;
}

#rightHeaderNav{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

#aestheticHeading{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 33%;
    letter-spacing: 61px;
    padding: 0px 6px;
    text-shadow: 1px 1px 2px;
}