doctype html
html
    head
        title pickles
        meta(charset='utf-8')
        link(rel='stylesheet' type='text/css' href='https://walrusaesthetic.firebaseapp.com/aesthetic.css')
        script(src='https://www.gstatic.com/firebasejs/5.5.7/firebase.js')
    body#aestheticBody
        header
            div#profileHeader
                div#leftHeaderNav
                    a#homeAnchor.navAnchors
                        span#home.headerElements home
                    a#exploreAnchor.headerElements.navAnchors(href='https://walrusaesthetic.firebaseapp.com/explore')
                        span#explore.headerElements explore
                h2#aestheticHeading AESTHETIC
                div#rightHeaderNav
                    a#settingsAnchor.headerElements.navAnchors(href="https://walrusaesthetic.firebaseapp.com/settings")
                        span#settings.headerElements settings
                    span#profileDropDown.dropbtn.navAnchors
                    a#btnLogout.btn.btn-action.hide.headerElements.navAnchors Log out
        div#aestheticManagementDiv
            div#AestheticPageInfo
                div#pageCredits
                    h1#aestheticNamePassed #{aestheticName}
                    h2 by
                    h1#ownerOfAesthetic #{username}
            div#aestheticInteractionDiv
                div#aestheticInteractionButtonDiv
                    button#like like
                    button#share share
                div#uploadAndProgress
                    progress#uploader(value='0' max='100') 0%
                    input#fileButton(type='file')
                    button#aestheticSaveButton save
        div#aestheticTagsContainer
        div#photoContainer
        div#photoContainerTwo
        script(src='https://walrusaesthetic.firebaseapp.com/main.js')