doctype html
html(lang='eng')
    head
        meta(charset='utf-8')
        link(rel ='stylesheet' type = 'text/css' href = 'http://localhost:5000/explore.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js")
    body
        header
            div#profileHeader
                div#leftHeaderNav
                    a#homeAnchor.navAnchors
                        span#home.headerNav home
                    a#exploreAnchor.navAnchors(href='http://localhost:5000/explore')
                        span#explore.headerNav explore
                h2.headerNav AESTHETIC
                div#rightHeaderNav
                    span#profile.headerNav profile
                    a.headerNav(href="http://localhost:5000/settings")
                        span#settings.headerNav settings
                    span#profileDropDown.dropbtn
                    div.dropdown
                        button.dropbtn
                            div.dropdown-content
                                a Link 1
                                a Link 2
                                a Link 3
                                a#btnLogout.btn.btn-action.hide Log out
        div#form
            input#searchBar(type='text' placeholder='Search..' name='search')
            button#searchButton(type='submit') Search
            i.fa.fa-search
        div#exploreContainer
        script(src="http://localhost:5000/main.js")