doctype html
html(lang='eng')
    head
        meta(charset='utf-8')
        link(rel ='stylesheet' type = 'text/css' href = 'http://localhost:5000/explore.css')
        script(src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js")
    body#exploreBody
        header
            div#profileHeader
                div#leftHeaderNav
                    a#homeAnchor.navAnchors
                        span#home.headerElements home
                    a#exploreAnchor.headerElements.navAnchors(href='http://localhost:5000/explore')
                        span#explore.headerElements explore
                h2#aestheticHeading AESTHETIC
                div#rightHeaderNav
                    a#settingsAnchor.headerElements.navAnchors(href="http://localhost:5000/settings")
                        span#settings.headerElements settings
                    span#profileDropDown.dropbtn.navAnchors
                    a#btnLogout.btn.btn-action.hide.headerElements.navAnchors Log out
        div#form
            input#searchBar(type='text' placeholder='Search..' name='search')
            button#searchButton(type='submit') Search
            i.fa.fa-search
        div#exploreContainer
        script(src="http://localhost:5000/main.js")