doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel ='stylesheet' type = 'text/css' href = 'http://localhost:5000/profile.css')
        
        script(src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js")
    body#profileBody
        header
            div#profileHeader
                div#leftHeaderNav
                    a#homeAnchor.navAnchors
                        span#home.headerElements home
                    a#exploreAnchor.headerElements.navAnchors(href='http://localhost:5000/explore')
                        span#explore.headerElements explore
                h2#aestheticHeading AESTHETIC
                div#rightHeaderNav
                    a#settingsAnchor.headerElements.navAnchors(href="http://localhost:5000/settings")
                        span#settings.headerElements settings
                    span#profileDropDown.dropbtn.navAnchors
                    a#btnLogout.btn.btn-action.hide.headerElements.navAnchors Log out

        div#profileContainer
            div#profileCard
                div#profilePicAndUsername
                    img#profilePic(src="/backgrounds_solids_white_fabric_closeup.jpg", alt="plus-sign", srcset="")
                    h4#usernameHeader #{username}
                    button#followButton follow
                    button#unfollowButton unfollow
                div#profileStats
                    div#aestheticStats
                        span.profileStats aesthetics
                        br
                        span#aestheticNumb.profileStatsNumb 0
                    div#followingStats
                        span.profileStats following
                        br
                        span#followingNumb.profileStatsNumb 
                    div#followersStats
                        span.profileStats followers
                        br
                        span#followersNumb.profileStatsNumb 
            div#profileCardDivider
                a#twitterAnchor
                    img#twitterImg.socialMediaIcons(src="/twitter.png")
                a#instagramAnchor
                    img#instagramImg.socialMediaIcons(src='/instagram.png')
                a#facebookAnchor
                    img#facebookImg.socialMediaIcons(src='/facebook.png')
                a#redditAnchor
                    img#redditImg.socialMediaIcons(src='/reddit.png')
                a#youtubeAnchor
                    img#youtubeImg.socialMediaIcons(src='/youtube.png')
        div#aestheticContainer
            div#createAesthetic
                button#aestheticImg Create Aesthetic
        script(src="http://localhost:5000/main.js")