doctype html
html(lang='eng')
    head
        meta(charset='utf-8')
        link(rel ='stylesheet' type = 'text/css' href = 'https://walrusaesthetic.firebaseapp.com/settings.css')
        script(src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js")
    body#settingsBody
        header
            div#profileHeader
                div#leftHeaderNav
                    a#homeAnchor.navAnchors
                        span#home.headerElements home
                    a#exploreAnchor.headerElements.navAnchors(href='https://walrusaesthetic.firebaseapp.com/explore')
                        span#explore.headerElements explore
                h2#aestheticHeading AESTHETIC
                div#rightHeaderNav
                    a#settingsAnchor.headerElements.navAnchors(href="https://walrusaesthetic.firebaseapp.com/settings")
                        span#settings.headerElements settings
                    span#profileDropDown.dropbtn.navAnchors
                    a#btnLogout.btn.btn-action.hide.headerElements.navAnchors Log out
        div#settingsForm
            div#twitterDiv.settingsContainer
                img.socialMediaIcons(src="/twitter.png", alt="twitterIcon")
                input#twitterURLInput(type="text")
            div#instagramDiv.settingsContainer
                img.socialMediaIcons(src="/instagram.png", alt="instagramIcon")
                input#instagramURLInput(type="text")
            div#facebookDiv.settingsContainer
                img.socialMediaIcons(src="/facebook.png", alt="facebookIcon")
                input#facebookURLInput(type="text")
            div#redditDiv.settingsContainer
                img.socialMediaIcons(src="/reddit.png", alt="redditIcon", srcset="")
                input#redditURLInput(type="text")
            div#youtubeDiv.settingsContainer
                img.socialMediaIcons(src="/youtube.png", alt="youtubeIcon")
                input#youtubeURLInput(type="text")
            div#nsfwContentCheckDiv.settingsContainer
                h3 Show NSFW Content?
                input#nsfwCheckbox(type='checkbox')
            div#uploadAndProgress
                    h1#profilePicUpload Select Profile Picture
                    progress#profilePicProgress(value='0' max='100') 0%
                    input#profilePicFileButton(type='file')
            button#settingsSubmit.settingsContainer Save
        script(src="https://walrusaesthetic.firebaseapp.com/main.js")